@import url('assets.css');
::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
    border-radius: 50px;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb
{
    border-radius: 50px;
    background-color: var(--side-dash-main);
}
*{
  margin: 0;
  padding: 0;
}
body, html {
  background-color: var(--secondary);
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  height: 8em;
  width: 21em;
  justify-self: flex-start;

}
.form {
  background-color: white;
  width: 22em;
  padding: 3em;
  border-radius: 10px;
}
.form h1{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--side-dash-main);
  margin-bottom: 1em;
}
.form span, .form input, .form button, .form select{
  display: block;
}

.form span{
  font-size: 1.2em;
  font-weight: 700;
  color: var(--dark-font);
  margin-bottom: 1em;
}
.form input{
  width: 95%;
  padding: 1em 1em;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
  color: var(--dark-font);
  outline: none;
}
.form select{
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
  color: var(--dark-font);
  outline: none;
  /* background-color: var(--secondary); */
}
.form button, .button a{
  width: 100%;
  padding: 1em 0.7em;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 700;
  color: var(--secondary);
  background-color: var(--side-dash-main);
  cursor: pointer;
  outline: none;
}
.form button:hover{
  background-color: var(--quinary);
}
.form button:active{
  background-color: var(--quinary);
}
.form input[type="checkbox"]{
  width: auto;
  margin-right: 0.5em;
}
.form label{
  font-size: 1em;
  font-weight: 500;
  color: var(--dark-font);
}
.form label a{
  color: var(--quaternary);
}
.form label a:hover{
  color: var(--dark-font);
}
.remember-forgot{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  font-size: .9em;
}
.remember-me{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.remember-me input{
  margin: 0 !important;
}
.forgot-password a{
  color: var(--quaternary);
}

.register {
  display: block;
  margin: auto;
  color: var(--side-dash-main);
}
/* speific to alert message*/
.alert{
  margin: .7em 0;
  font-size: 1em;
  font-weight: 500;
}
.invalid-feedback{
  color: red;
  font-size: 0.9em;
  font-weight: 500;
}