@import url('assets.css');
*{
  margin: 0;
  padding: 0;
}
body, html {
  /* background-color: #EDEFFE; */
  background-color: var(--secondary);
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  height: 8em;
  width: 21em;
  justify-self: flex-start;

}
.form {
  background-color: white;
  width: 25em;
  padding: 2em 3em;
  border-radius: 10px;
}
.form span, .form input, .form button, .form select{
  display: block;
}
.form input[type="checkbox"]{
  display: inline-block;
}

.form span{
  font-size: 1.2em;
  font-weight: 700;
  color: var(--main);
  margin-bottom: 1em;
}
.form input{
  width: 95%;
  padding: 1em 0.7em;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
  color: var(--main);
  outline: none;
}
.form select{
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
  color: var(--main);
  outline: none;
  background-color: var(--secondary);
}
.form button, .button a{
  width: 100%;
  padding: 1em 0.7em;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 700;
  color: var(--secondary);
  background-color: var(--main);
  cursor: pointer;
  outline: none;
}
.form button:hover{
  background-color: var(--quaternary);
}
.form button:active{
  background-color: var(--quaternary);
}
.form input[type="checkbox"]{
  width: auto;
  margin-right: 0.5em;
}
.form label{
  font-size: 0.9em;
  font-weight: 500;
  color: var(--main);
}
.form label a{
  color: var(--quaternary);
}
.form label a:hover{
  color: var(--main);
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button a {
  margin-top: 1em;
  text-align: center;
  width: 50%;
  text-decoration: none;
  background-color: white;
  color: var(--quinary);
  border: 1px solid var(--quinary);

  font-weight: 700;
}
.button a:hover{
  background-color: var(--quinary);
  color: var(--secondary);

}

