@import url('assets.css');
@import url('create-form.css');
@import url('question-reponse.css');
@import url('reponse.css');
@import url('table.css');

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
    border-radius: 50px;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb
{
    border-radius: 50px;
    background-color: var(--main);
}
#face{
    background-color: #3b5998;
}
*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: nowrap;

    background-color: var(--secondary);
    min-height: 100vh;
}

.sidenav {
    

    position: fixed;
    background-color: var(--main);
    /* background-color: var(--quinary); testing */
    width: 200px;
    height: 100vh;
}
.logo {
    width: 60%;
    height: 100px;
    margin: auto;
    display: block;
}
.logo2{
    display: none;
    margin: auto;
    width: 110%;
}
.sidenav-menu{
    margin-top: 1em;
}
.sidenav-icon{
    display: inline;
    width: 1.4em;
    height: 1.4em;
}
.sidenav-icon{
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    text-align: center;
}
.sidenav-menu ul li{
    position: relative;
    list-style: none;
    width: 100%;
    padding: .5em .7em;
}

.sidenav-menu ul li a{
    text-decoration: none;
    color: white;
    display: inline;
    margin: 0 0 0 1em;

    display: flex;
    align-items: center;
    gap: 15px;
}
/* hover effect */
.sidenav-menu ul li:hover, .chosen-section{
    background-color: var(--secondary-op);
}
.sidenav-menu ul li:hover a, .chosen-section a{
    color: var(--main) !important;
}

.sidenav-menu ul li:hover a img, .chosen-section a img{
    filter: var(--icon-main);
}

.profile{
    margin-top: 5em
}
.logout{
margin-top: 1em;
}
.logout a img{
    width: 1.3em;
    height: 1.3em;
}   

.burger-btn{
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;

    width: 25px;
    height: 7px;
    cursor: pointer;
}
.burger-btn span{
    background-color: white;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
}

.burger-btn span:nth-child(1){
    top: 0;
}
.burger-btn span:nth-child(2){
    top: 6px;
    width: 50%;
}

.open span:nth-child(1){
    width: 50%;
}
.open span:nth-child(2){
    width: 100%;
}

/* the changes after the menu button */

.small-nav {
    width: 70px;
}
.logo1-hidden {
    display: none;
}
.logo2-shown {
    display: block;
}

.small-nav .sidenav-menu ul li a span{
    display: none;
}
.small-nav .sidenav-menu ul li a {
    margin: 0 0 0 1.1em;
}
.small-nav .sidenav-menu ul li {
    padding: 0.5em 0em;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* main nav on top */
.main-nav{
margin: .5em;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 7px;
background-color: white;
height: 40px;
width: 97%;

display: flex;
align-items: center;
justify-content: center;
gap: 1em;
}

.main-nav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-weight: 600;
/* font-size: 1.1em; */
color: var(--main);

display: flex;
gap: 5px;
}


.main-nav a img{
    width: 1.3em;
    height: 1.3em;
    filter: var(--icon-main);
}

.main-nav a:hover {
    color: var(--quinary);
}
.main-nav a:hover img{
    filter: var(--icon-quinary);
} 

/* page content */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--main);
}

/* usual components */

    /* .errors  */
    .errors {
        margin: 1em 0;
        align-self: flex-start;
    }
    .errors li{
        color: var(--red);
        font-size: .8em;
        list-style: none;

    }

    /* standard buttons */
    .standard-btn{
        display: flex;
        align-items: center;
        gap: 5px;

        background-color: var(--main);
        color: #fff;
        padding: 5px 15px;

        font-size: .7em;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }

    .standard-btn img{
        filter: var(--icon-white);
        width: 1.7em;
        height: 1.7em;
    }

    .standard-btn:hover{
        background-color: var(--quinary);
        /* testing color: var(--main); */
    }
    

        /* validation button */

    .validation-btn{
        background-color: white;
        color: var(--green);
        border: 1.5px solid var(--green);
    }    
    .validation-btn img{
        filter: none;
    }
    .validation-btn:hover{
        background-color: var(--green);
        color: white;
    }
    .validation-btn:hover img{
        filter: var(--icon-white);
    }
    /* Edit and Delete Buttons */

    .btn-edit , .btn-delete {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .btn-edit  img, .btn-delete  img{
        filter: var(--icon-main);
        width: 1.7em;
        height: 1.7em;
    }
    .btn-edit:hover img{
        filter: var(--icon-quinary);
    }
    .btn-delete:hover img{
        filter: var(--icon-red);
    }


    /* Add  */

/* pagination links */

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1em;
    margin: 1em 0;
}
.pagination li{
    list-style: none;
    padding: .45em .65em;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pagination li a{
    text-decoration: none;
    color: black;
}
.pagination .active{
    background-color: var(--quinary);
    color: white;
}
.pagination .disabled{
    background-color: #eeeeeea2;
    color: rgb(65, 65, 65);
}