body{
    margin: 0;
}
.sidenav {
height: 100%;
width: 20%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #254d5b;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: white;
background-color: #19343e;
display: block;
margin-bottom: .2em;
padding: .5em 1em;
}

.sidenav a:hover {
color: #f1f1f1;
}

.main-nav{
background-color: #254d5b;
margin-left: 20%; 
width: 80%;
height: 50px;
margin-top: 0;
display: flex;
align-items: center;
}

.main-nav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: white;
}

.main-nav a:hover {
color: #f1f1f1;
}

.main-content {
    margin-left: 21%; 
    margin-top: 5px;
}

.pagination-links{
align-self: center;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

