body {
    background: rgb(55, 59, 97);
    overflow: hidden;
  }
  
 /* Add your custom styles here */

/* Navbar logo */
.navbar-brand img {
  height: 40px;
}

/* Navbar links */
.navbar-nav .nav-link {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

/* Navbar active link */
.navbar-nav .nav-link.active {
  color: #007bff;
}

/* Dropdown menu */
.dropdown-menu {
  min-width: 150px;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

  
  #msg {
    height: 746px;
    padding: 5rem;
    line-height: 2.8;
    letter-spacing: 1.5px;
    position: absolute;
    display: inline;
    color: #EDEFFE;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bold;
    overflow: auto; 
  }
  
  button{
    display: inline;
    padding: 0.8rem;
    background-color: #EDEFFE;
    margin-left: 38%;
    color: #373B61;
    border-radius: 9px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #fcefe9;
  }
  /* @media screen and (max-width: 768px) {
    *{
      margin: 0;
      padding: 0;
    }
    img {
      display: inline;
      height: 26rem;
      width: 28rem;
      padding: 0;
      margin: 0;
      position: relative;
    }
    #msg{
      float: left;
      font-weight: normal;
      letter-spacing: 1px;
    }

  } */
