@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('assets.css');
::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
    border-radius: 50px;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb
{
    border-radius: 50px;
    background-color: var(--side-dash-main);
}
*{
  margin: 0;
  padding: 0;
}
body, html {
  /* background-color: #EDEFFE; */
  background-color: var(--secondary);

  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.style-index{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: var(--quinaty);
  border-radius: 50%;
  z-index: 1;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}
.header img {
  height: 7rem;
  /* width: 21rem; */
  width: 27%;

  align-self: flex-start;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 27%;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.5em;
    
}

.header ul li a {
  text-decoration: none;
  color: var(--side-dash-main);
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.5625em  0.75em;
}
.header ul li:nth-child(1) a{
  background-color: var(--secondary);
  color: var(--side-dash-main);
  margin: 0;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  border: 2px var(--side-dash-main) solid;
}
.header ul li:nth-child(1) a:hover{
  background-color: var(--tertiary);
  color: var(--side-dash-main);
  border: 2px var(--side-dash-main) solid;
}
.header ul li:nth-child(2) a , .inscription{
  background-color: var(--side-dash-main);
  color: var(--secondary);
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  border: 2px transparent solid;
  transition: border-color 0.3s ease;
}
.header ul li:nth-child(2) a:hover , .inscription:hover{
  background-color: var(--quaternary);

}
.content {
  margin-top: 2.5em;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.content p {
  color: black;
  font-size: 2.5rem;
  font-weight: 500;

  width: 32.5rem;
  height: fit-content;
  letter-spacing: 1.5px;
  line-height: 1.4;

  margin-bottom: 1.5em;
}
.content p span {
  color: var(--side-dash-main);
  font-weight: 900;
}
.inscription {
  letter-spacing: 0.094rem;
  padding: .7em 2em;
  font-size: 1.2em;
}
.content img {
  width: 30rem;
}
@media screen and (max-width: 1000px) {
  html, body{
    height: 120vh;
  }
  .header{
      width: 70%;
  }
  .content{
      flex-wrap: wrap-reverse;
      
  }
  .content img {
      width: 25rem;
    }
  .content p {
      font-size: 2.2em;
  }

}
@media screen and (max-width: 1000px) {
    html, body{
      height: 120vh;
    }
    .header{
        width: 70%;
    }
    .content{
        flex-wrap: wrap-reverse;
        
    }
    .content img {
        width: 25rem;
      }
    .content p {
        font-size: 2.2em;
    }

}
@media screen and (max-width: 700px) {

    .content{
        flex-wrap: wrap-reverse;
    }
    
}
@media screen and (max-width: 600px) {
  html, body{
    font-size: 14px;
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .header{

    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
    margin: auto;
  }
  .header img{
    width: 120px;
  }
  .header ul{
    width: fit-content;
    justify-content: center;
    gap: .2em;
    margin-top: .3em;
  }
  .content{
    font-size: .8em;
  }
  .content p{
    margin-top: 1em;
    width: 25rem;
  }
  
}
