* {
  margin: 0;
  padding: 0;
}
body, html {
  background-color: #EDEFFE;
  height: 746;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#lg {
  display: inline;
}
blockquote {
  color: #373B61;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  left: 150px;
  top: 260px;
  width: 520px;
  height: 250px;
  letter-spacing: 3px;
  word-spacing: 1rem;
  overflow: auto;
  padding-bottom: 100px;
  line-height: 1.5;
}
#authLinks {
  color: #373B61;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 210px;
  top: 50px;
}
a {
  margin-left: 5rem;
  text-decoration: none;
  color: #373B61;
}
a:nth-child(1):hover{
  background-color: #fcefe9;
  color: #373B61;
  padding: 12px;
  border-radius: 10px;
  border: 2px transparent solid;
  transition: border-color 0.3s ease;
}
a:nth-child(2) {
  background-color: #373B61;
  color: #FCEFE9;
  padding: 12px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  border: 2px transparent solid;
  transition: border-color 0.3s ease;
}
a:nth-child(2):hover {
  background-color: #EDEFFE;
  color: #373B61;
  border: 2px #373B61 solid;
}
hr {
  border: none;
  border-radius: 1.5px;
  height: 1.5px;
  background-color: #373B61;
  margin: 120px;
  margin-left: 7rem;
  margin-right: 10rem;
}
.first-image {
  height: 7rem;
  width: 21rem;
  position: absolute;
  left: 2px;
  top: 0px;
}
.second-image {
  height: 28rem;
  width: 30rem;
  position: absolute;
  left: 750px;
  top: 120px;
}
#container {
  min-height: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  blockquote {
    position: static;
    width: auto;
    height: auto;
    padding-bottom: 0;
    margin: 2rem;
    text-align: center;
  }
.first-image{
  position: relative;
  margin-left: 23%;
}
  .second-image {
    position: static;
    margin-top: 4rem;
    width: 100%;
    height: auto;
    left: 0;
    transform: none;
    bottom: auto;
  }
  #authLinks{
    /* display: hidden; */
    margin-top: 8rem;
  }
  hr{
    margin-top: 10rem;
  }
}
@media screen and (max-width: 600px) {
  blockquote {
    position: static;
    width: auto;
    height: auto;
    padding-bottom: 0;
    margin: 2rem;
    text-align: center;
  }
.first-image{
  position: relative;
  margin-left: 10%;
}
  .second-image {
    position: static;
    margin-top: 4rem;
    width: 100%;
    height: auto;
    left: 0;
    transform: none;
    bottom: auto;
  }
  #authLinks{
    /* display: hidden; */
    margin-top: 8rem;
    font-size: medium;
    margin-left: 3px;
    position: static;
  }
  hr{
    margin-top: 10rem;
  }
}
